POSTGRES_DB=myrati
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MYRATI_DB_CONNECTION=Host=postgres;Port=5432;Database=myrati;Username=postgres;Password=postgres
MYRATI_JWT_ISSUER=Myrati
MYRATI_JWT_AUDIENCE=Myrati.Backoffice
MYRATI_JWT_KEY=CHANGE_THIS_FOR_A_LONG_RANDOM_SECRET_KEY_32+
MYRATI_GATEWAY_PORT=5118
MYRATI_IDENTITY_SERVICE_PORT=5119
MYRATI_BACKOFFICE_SERVICE_PORT=5120
MYRATI_PUBLIC_SERVICE_PORT=5121
MYRATI_NOTIFICATION_SERVICE_PORT=5122
MYRATI_SITE_HOST=api.myrati.com.br
MYRATI_CORS_ALLOWED_ORIGIN_0=https://myrati.com.br
MYRATI_CORS_ALLOWED_ORIGIN_1=https://www.myrati.com.br
MYRATI_EMAIL_FRONTEND_URL=https://myrati.com.br
MYRATI_EMAIL_SENDER_NAME=Myrati
MYRATI_EMAIL_SENDER_ADDRESS=
MYRATI_EMAIL_LEAD_RECIPIENT_NAME=Yasmin
MYRATI_EMAIL_LEAD_RECIPIENT_ADDRESS=yasmin@myrati.com.br
MYRATI_GMAIL_CLIENT_ID=
MYRATI_GMAIL_CLIENT_SECRET=
MYRATI_GMAIL_REFRESH_TOKEN=
