POSTGRES_DB=myrati
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MYRATI_DB_CONNECTION=Host=postgres;Port=5432;Database=myrati;Username=postgres;Password=postgres
MYRATI_JWT_ISSUER=Myrati
MYRATI_JWT_AUDIENCE=Myrati.Backoffice
MYRATI_JWT_KEY=CHANGE_THIS_FOR_A_LONG_RANDOM_SECRET_KEY_32+
